<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
    <link href="~/styles/cheerego.css" rel="stylesheet" />
    @RenderSection("css",false)
</head>
<body>
    @RenderBody()

    <script src="//cdn.bootcss.com/vue/2.1.8/vue.js"></script>
    <script src="//cdn.bootcss.com/vue-resource/1.0.3/vue-resource.js"></script>
    <script src="http://cdn.bootcss.com/vue-router/2.1.1/vue-router.js"></script>
    <script>
        Vue.http.options.emulateJSON = true;
    </script>
    @RenderSection("js", false)
</body>
</html>
