

<div id="login">
    <input placeholder="account" v-model="account">
    <input type="password" placeholder="password" v-model="password">
    <button class="pure-button" v-on:click="login">Sign in</button>
</div>

@section css{

}

@section js{
    <script>
        var login_v = new Vue({
            el: "#login",
            data: {
                account: "",
                password:""
            },
            methods: {
                //登录
                login: function () {
                    var $this=this
                    this.$http.post('/Admin/Login', { account: this.account, password: this.password }).then((response) => {
                        var data = response.data;
                        // success callback
                    }, (response) => {
                        response.data
                        // error callback
                    });
                }
            }
        })
    </script>
}